/*@-webkit-keyframes ic-flicker {
  0% { content:url("../images/icecream.webp"); }
  50% { content:url("../images/icecream.webp"); }
  51% { content:url("../images/icecreamcookie.jpeg"); }
  100% { content:url("../images/icecreamcookie.jpeg"); }
}
*/
@-webkit-keyframes ic-flicker {
  0% { content:url("../images/icecreamcookie.jpeg"); }
  50% { content:url("../images/icecreamcookie.jpeg"); }
  51% { content:url("../images/icecream.webp"); }
  100% { content:url("../images/icecream.webp"); }
}

@-webkit-keyframes butt-flicker {
  0% { content:url("../images/buttcookie.jpeg"); }
  50% { content:url("../images/buttcookie.jpeg"); }
  51% { content:url("../images/bikini.webp"); }
  100% { content:url("../images/bikini.webp"); }
}

@-webkit-keyframes buzzz-flicker {
  0% { content:url("../images/buzzzcookie.jpeg"); }
  50% { content:url("../images/buzzzcookie.jpeg"); }
  51% { content:url("../images/discgolf.webp"); }
  100% { content:url("../images/discgolf.webp"); }
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: auto;
  max-width: 1024px;
}

.italics {
  font-style: italic;
}

.logo-header {
  margin-left: 5vw;
}

.logo-header img {
  height: 6%;
  padding: 2vw;
}

.arrow {
  width: 7vw;
}

h1 {
  font-size: 50px;
  font-size: 12vw;
  font-weight: bolder;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 15vh;
  }
  div.hero h3 {
    line-height: normal;
    font-size: 5vh;
  }
  div.favs p {
    font-size: 4vh;
  }
  div.norm {
    padding: 6vh 5vw;
  }
  div.norm p {
    font-size: 5vh;
  }
  div.coming p {
    font-size: 7vh;
  }
  div.hero img.dp {
    max-width: 500px;
    margin-right: 12vh;
  }
  img.arrow {
    max-width: 90px;
  }
}

@media screen and (min-width: 1550px) {
  body {
    max-width: 1400px !important;
  }
  h1 {
    font-size: 10vh;
  }
  div.love p {
    font-size: 4vh;
  }
  div.hero {
    height: 125vh;
  }
  div.hero img.dp {
    margin-top: 15vh;
  }
  div.coming p {
    font-size: 10vh;
  }
}

.thx {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../images/pb.webp);
  background-size: cover;
}

.thx h1 {
  padding: 5vw;
  margin: 0;
  letter-spacing: -3px;
}

.hero {
  background-image: url(../images/fpf.webp);
  height: 100vw;
  background-size: cover;
}

.hero .arrow {
  margin-left: 28%;
  padding-top: 2vh;
}

.hero h3 {
  line-height: 4vh;
  margin: 0;
  padding-left: 28%;
  padding-right: 8vw;
  padding-top: 14vw;
  font-weight: normal;
  font-size: 5vw;
}

.hero .dp {
  width: 28vw;
  float: right;
  margin-right: 12vw;
  margin-top: 18vw;
  border-radius: 20px;
}

.love {
  font-size: 5vw;
  text-align: center;
  background-image: url(../images/love-bg.webp);
  background-size: cover;
  color: white;
}

.love p {
  margin: 0;
  padding: 4vw;
  font-weight: bold;
}

.box {
  padding-top: 7vh;
  font-size: 4vw;
  text-align: center;
  background-image: url(../images/pb.webp);
  background-size: cover;
}

.box .arrow {
  margin-top: 3vh;
  margin-left: 45%;
  margin-bottom: 2vh;
}

.box h3 {
  margin: 0;
}

.favs {
  text-align: center;
  background-image: url(../images/favs-bg.webp);
  background-size: cover;
}

.favs img {
  border-radius: 50%;
  width: 48vw;
  max-width: 700px;
}

.favs img.icecream {
  -webkit-animation:ic-flicker 3s infinite;
}

.favs img.bikini {
  -webkit-animation:butt-flicker 3s infinite;
}

.favs img.discgolf {
  -webkit-animation:buzzz-flicker 3s infinite;
}

.favs img.tessa {
  border-radius: 20px;
  width: 70vw;
  margin-top: 4vh;
}

.favs ul {
  list-style: none;
  margin: 0;
  padding: 4vh 10vw;
}

.favs li {
  padding-bottom: 4vh;
}

.favs p {
  font-weight: bold;
  font-size: 4vw;
}

.norm {
  background-image: url(../images/love-bg.webp);
  background-size: cover;
  padding: 6vh 16vw;
}

.norm p {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  margin: 0;
  padding: 3vw;
  font-size: 5vw;
}

.coming {
  font-family: 'Poppins';
  background-image: url(../images/watercloud.webp);
  background-size: cover;
  padding: 5vw;
}

.coming p {
  font-size: 13vw;
  line-height: 12vw;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -6px;
  margin: 0;
}

audio {
  display: none;
}