body div {
    font-family: courier new, sans-serif;;
    font-style: normal;
}


body div.header h1 {
    font-weight: 100;
    color: #000;
    font-size: 7vw;
    text-align: center;
    margin-top: 4vw;
    margin-left: -1em;
}

.main .menu-holder {
    width: 50vw;
    margin: 8vw auto 0 auto;
}

.main .menu-holder h2 {
    font-size: 2.5vw;
    font-weight: 100;
    margin-bottom: 2vw;
    margin-top: 4vw;
    max-width: 980px;
}

@media screen and (min-width: 1600px) {
  body div.header h1 .name {
     font-size: 6vw;
  }
}

.drawer-handle {
    cursor: pointer;
}

h3 {
    margin: 30px 0 5px 0;
    font-weight: 100;
}

h4 {
    font-weight: 100;
}

h3 a {
    color: #000;
}

a {
    color: #6666FF;
}

div.drawer {
    display: none;
    padding-left: 1vw;
}

span.pop {
    color: #6666FF;
}

h2 img.plus {
    width: 1.3vw;
}

h3 img.plus {
    width: 0.8vw;
}

div.projects.drawer p {
    padding-left: 1vw;
}

div.work.drawer div.roles {
    margin-bottom: 45px;
}

div.work.drawer ul {
    list-style-type: none;
}

div.work.drawer ul li {
    margin-bottom: 6px;
}

div.work.drawer ul li:before {
    content: "->";
    margin-top: 0.1em;
    color: #6666FF;
    font-weight: 700;
    display: inline-block;
    font-size: .9em;
    margin-left: -1.3em;
    transform: translateX(-8px);
}

.rotate {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: #6666FF;
}


.cursor {
    margin: 0 0 -10px -3vw;
    height: 1em;
    display: inline-block;
    border-right: 0.5em solid;
    color: #CACAFF;
}

.cursor.blink {
    -webkit-animation: cursor-blink .5s step-end infinite alternate;
    animation: cursor-blink .5s step-end infinite alternate;
}


@-webkit-keyframes cursor-blink {
    50% {
        border-color:transparent
    }
}
@keyframes cursor-blink {
    50% {
        border-color:transparent
    }
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }