body div {
    font-family: courier new, sans-serif;;
    font-style: normal;
}

h1 {
    font-weight: 100;
    color: #000;
    font-size: 7vw;
    text-align: center;
    margin-top: 4vw;
    margin-left: -1em;
}

h2 {
    font-size: 2.5vw;
    font-weight: 100;
    max-width: 980px;
    margin:  4vw 0 2vw -2vw;
}


h3 {
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0 5px 0;
    font-weight: 100;
}

h4 {
    font-size: 1.5vw;
    font-weight: 100;
    padding-left: 1vw;
}

h3 a {
    color: #000;
}

a {
    color: #6666FF;
}

.main .menu-holder {
    width: 58vw;
    margin: 8vw auto 0 auto;
}


.drawer-handle {
    cursor: pointer;
}

.drawer {
    display: none;
}

p {
    margin-left: 1vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 0;
}

.drawer.default-open {
    display: block;
}

span.pop {
    color: #6666FF;
}

h2 img.plus {
    width: 1.3vw;
}

h3 img.plus {
    width: 1vw;
}

h4 img.plus {
    width:  0.8vw;
}

/* Very Wide */
@media screen and (min-width: 1600px) {
    body div.header h1 .name {
       font-size: 6vw;
    }

    div.header h1 {
        margin-left: -0.5em;
    }

    body .main div.menu-holder {
        width: 50vw !important;
    }
}

@media screen and (min-width: 1200px) {
    div.work.drawer ul {
      padding-left: 3vw;
    }

    body .main div.menu-holder {
        width: 55vw;
    }
}

@media screen and (max-width: 992px) {
    body .main div.menu-holder {
        width: 61vw;
    }

    h2 {
        font-size: 2.8vw;
    }

    h3 {
        font-size: 2vw;
    }

    h4  {
        font-size: 1.7vw;
    }

    h2 img.plus {
      width: 1.5vw;
    }

    h3 img.plus {
        width: 1vw;
    }

    h4 img.plus {
        width:  0.9vw;
    }
}

@media screen and (max-width: 768px) {
    body .main div.menu-holder {
        width: 65vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4  {
        font-size: 2.2vw;
    }

    h2 img.plus {
      width: 2vw;
    }

    h3 img.plus {
        width: 1.7vw;
    }

    h4 img.plus {
        width:  1.4vw;
    }
}

@media screen and (max-width: 600px) {
    body .main div.menu-holder {
        width: 68vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4  {
        font-size: 2.5vw;
    }

    h2 img.plus {
      width: 2vw;
    }

    h3 img.plus {
        width: 1.7vw;
    }

    h4 img.plus {
        width:  1.4vw;
    }
}

@media screen and (max-width: 500px) {
    body .main div.menu-holder {
        width: 80vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4.5vw;
    }

    h4  {
        font-size: 3.4vw;
    }

    h2 img.plus {
      width: 3.5vw;
    }

    h3 img.plus {
        width: 3vw;
    }

    h4 img.plus {
        width:  2.2vw;
    }
}


/*@media (max-width: 800px) {
    h2.drawer-handle {
        color:  red;
    }
}*/
    /*body h2 img.plus {
        width: 1.5vw;
    }

    body h3 img.plus {
        width: 1vw;
    }

    body h4 img.plus {
        width:  0.8vw;
    }
}*/

div.projects.drawer p {
    padding-left: 1vw;
}

div.work.drawer div.roles {
    margin-bottom: 45px;
}

div.work.drawer ul {
    list-style-type: none;
}

div.work.drawer ul li {
    margin-bottom: 6px;
}

div.work.drawer ul li:before {
    content: "->";
    margin-top: 0.1em;
    color: #6666FF;
    font-weight: 700;
    display: inline-block;
    font-size: .9em;
    margin-left: -1.3em;
    transform: translateX(-8px);
}

.rotate {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: #6666FF;
}


.cursor {
    margin: 0 0 -10px -3vw;
    height: 1em;
    display: inline-block;
    border-right: 0.5em solid;
    color: #CACAFF;
}

.cursor.blink {
    -webkit-animation: cursor-blink .5s step-end infinite alternate;
    animation: cursor-blink .5s step-end infinite alternate;
}


@-webkit-keyframes cursor-blink {
    50% {
        border-color:transparent
    }
}
@keyframes cursor-blink {
    50% {
        border-color:transparent
    }
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }